</div>
<div class="mt-5">
  <hr>
  <div class="row pt-3 ps-5 pb-5">
    <div class="col-2 col-mt-auto">
      <img src="/images/logo.png" alt="" srcset=""
        width="200px" height="200px">
    </div>
    <div class="col-8 col-mt-auto ms-5 mt-4">
      <p style="font-size: 18px; font-weight: bold;">Người phát triển: Nguyễn Bá Cường PH22662</p>
      <div style="font-size: 18px;">Liên hệ: </div>
      - SĐT: 0339760892<br>
      - FaceBook: <a href="https://www.facebook.com/cuong.nguyenba.18294/" style="text-decoration: none; color: black;"
        target="_blank"> https://www.facebook.com/cuong.nguyenba.18294/</a><br>
      - Gmail: bacuong15423@gmail.com<br>
    </div>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>