<nav class="navbar  ">
    <div class="navbar-expand-lg    "  style="width: 100%;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.ejs"
                        style="font-size: 18px; font-weight: bold;">Trang Chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="font-size: 18px; font-weight: bold;">
                        Người Dùng
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="user.html" style="font-size: 18px;">Danh Sách User</a></li>
                        <li><a class="dropdown-item" href="#" style="font-size: 18px;">Danh Sách Chặn</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="font-size: 18px; font-weight: bold;">
                        Sản Phẩm
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" style="font-size: 18px; ">Danh Sách Sản Phẩm</a></li>
                        <li><a class="dropdown-item" href="#" style="font-size: 18px; ">Thêm Sản Phẩm</a></li>
                        <li><a class="dropdown-item" href="#" style="font-size: 18px; ">Tag</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="font-size: 18px; font-weight: bold;">
                        Thể Loại
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" style="font-size: 18px; ">Danh Sách Thể Loại</a></li>
                        <li><a class="dropdown-item" href="#" style="font-size: 18px; ">Thêm Thể Loại</a></li>
                        <li><a class="dropdown-item" href="#" style="font-size: 18px; ">Tag</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="font-size: 18px; font-weight: bold;">
                        Cài Đặt
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" style="font-size: 18px; ">Đổi Mật Khẩu</a></li>
                        <li><a class="dropdown-item" href="#" style="font-size: 18px; ">Đăng Xuất</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>