<%- include('../inc/top.ejs') %>

    <!-- Thêm user -->
    <div class="card mt-4 border border-info">
        <div class="text-center mt-4">
            <p style="color: red; font-style: italic; font-size: 28px;">
                <%= msg %>
            </p>
        </div>
        <form class="p-5" method="POST" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class=" input-group border border-info rounded-2">
                        <input name="avata" type="file" class="form-control" required>
                        <label class="btn btn-outline-info">Upload</label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10 form-floating">
                    <input type="text" class="form-control border border-info rounded-2" id="floatingInput"
                       name="username" placeholder="Password" required>
                    <label class="ms-3" for="floatingInput">Nhập tên tài khoản</label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10 form-floating">
                    <input type="text" class="form-control border border-info rounded-2" id="floatingInput"
                       name="fullname" placeholder="Password" required>
                    <label class="ms-3" for="floatingInput">Nhập fullname</label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10 form-floating">
                    <input type="text" class="form-control border border-info rounded-2" id="floatingInput"
                       name="email" placeholder="Password" required>
                    <label class="ms-3" for="floatingInput">Nhập email</label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10 form-floating">
                    <input type="text" class="form-control border border-info rounded-2" id="floatingInput"
                       name="password" placeholder="Password" required>
                    <label class="ms-3" for="floatingInput">Nhập mật khẩu</label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10 form-floating">
                    <input type="text" class="form-control border border-info rounded-2" id="floatingInput"
                       name="passwordRe" placeholder="Password" required>
                    <label class="ms-3" for="floatingInput">Nhập lại mật khẩu</label>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-outline-info"
                    style="width: 200px; height: 48px; font-size: 24px; font-weight: 500;">Save</button>
            </div>
        </form>
    </div>

    <%- include('../inc/bottom.ejs') %>