<%- include('../inc/top.ejs') %>

    <!-- Thanh Dieu khien -->
    <div style="text-align: center;" class="row mt-4">
        <nav class="navbar col-6">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        style="width: 300px;">
                    <button class="btn btn-outline-success" type="submit" style="width: 150px;">Tìm kiếm</button>
                </form>
            </div>
        </nav>
        <div class="col-2">
            <a href="/user/add">
                <button type="button" class="btn btn-success" style="width: 150px;">Thêm User</button>
            </a>
        </div>
        <div class="col-2">
            <a href="#">
                <button type="button" class="btn btn-success" style="width: 150px;">Sắp xếp</button>
            </a>
        </div>
        <div class="col-2">
            <a href="#">
                <button type="button" class="btn btn-success" style="width: 150px;">Lọc</button>
            </a>
        </div>
    </div>
    <!-- bang danh sach -->
    <div class="mt-4">
        <table class="table table-striped" style="margin-top: 15px;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên đăng nhập</th>
                    <th scope="col">Avata</th>
                    <th scope="col">Email</th>
                    <th scope="col">Vai trò</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>admin</td>
                    <td><img src="" alt="" srcset="" width="60px" height="80px"></td>
                    <td>admin123@gmail.com</td>
                    <td>admin</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>cuongnb</td>
                    <td><img src="https://smilemedia.vn/wp-content/uploads/2022/09/cach-chup-anh-the-dep-e1664379835782.jpg" alt="" srcset="" width="60px" height="80px"></td>
                    <td>cuongnb111@gmail.com</td>
                    <td>user</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>trangnt</td>
                    <td><img src="https://inanh.net/wp-content/uploads/2020/07/in_anh_the_2.jpg" alt="" srcset="" width="60px" height="80px"></td>
                    <td>trangnt@gmail.com</td>
                    <td>user</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>huyenanhnn</td>
                    <td><img src="https://ss-images.saostar.vn/wp700/pc/1617160792140/saostar-ad0lx1k2h7n0blgh.jpg" alt="" srcset="" width="60px" height="80px"></td>
                    <td>nguyenngochuyenanh@gmail.com</td>
                    <td>user</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>dunghm</td>
                    <td><img src="https://toigingiuvedep.vn/wp-content/uploads/2021/07/mau-anh-the-dep-lam-the-can-cuoc.jpg" alt="" srcset="" width="60px" height="80px"></td>
                    <td>dunghm@gmail.com</td>
                    <td>user</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- danh muc -->
    <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">3</button>
            <button type="button" class="btn btn-outline-secondary">4</button>
            <button type="button" class="btn btn-outline-secondary">5</button>
            <button type="button" class="btn btn-outline-secondary">6</button>
        </div>
    </div>
   
    <%- include('../inc/bottom.ejs') %>