<%- include('../inc/top.ejs') %>
    <div class="card border border-warning rounded-2 mt-4">
        <form class=" p-5">
            <div class="form-floating border border-warning rounded-2 mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating border border-warning rounded-2 mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating border border-warning rounded-2 mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            
            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-outline-warning" 
                style="width: 200px; height: 48px; font-size: 24px; font-weight: 500;">Save</button>
            </div>
        </form>

    </div>
<%- include('../inc/bottom.ejs') %>