<%- include('../inc/top.ejs') %>

    <div>
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-4 ">
                <div class="card">
                    <div class="card-body">
                        <i class="bi bi-android2"></i>
                        <p style="font-size: 24px;">số lượng nhập : 1000</p>
                    </div>
                </div>
            </div>
            <div class="col-4 ">
                <div class="card">
                    <div class="card-body">
                        <i class="bi bi-calendar3"></i>
                        <p style="font-size: 24px;">giá nhập: 20.000.000 vnđ</p>
                    </div>
                </div>
            </div>
            <div class="col-4 ">
                <div class="card">
                    <div class="card-body">
                        <p style="font-size: 24px;">số lượng sản phẩm</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-4 ">
                <div class="card">
                    <div class="card-body">
                        <p style="font-size: 24px;">số lượng xuất: 100</p>
                    </div>
                </div>
            </div>
            <div class="col-4 ">
                <div class="card">
                    <div class="card-body">
                        <p style="font-size: 24px;">giá nhập: 40.000.000 vnđ</p>
                    </div>
                </div>
            </div>
            <div class="col-4 ">
                <div class="card">
                    <div class="card-body">
                        <p style="font-size: 24px;">sản phẩm</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img src="https://static.colearn.vn:8413/v1.0/upload/library/08042022/cach-ve-bieu-do-cot-dia-ly-Ow9IEi.jpg"
                            alt="" alt="" style="width: 450px; height: 250px;">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <img src="https://cdn.takeprofit.vn/1636477740692" alt="" style="width: 450px; height: 250px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../inc/bottom.ejs') %>
