<%- include('../inc/top.ejs') %>
    <div class="card border border-danger rounded-2 mt-4">
        <form class="p-5">
            <div class="form-floating mb-3 border border-danger rounded-2">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating border border-danger rounded-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
            <div class="mt-3 mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Lưu tài khoản</label>
            </div>
            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-outline-danger" 
                style="width: 300px; height: 48px; font-size: 24px; font-weight: 500;">Login</button>
            </div>
        </form>
    </div>
<%- include('../inc/bottom.ejs') %>