<%- include('../inc/top.ejs') %>

    <!-- Sửa thể loại -->
    <div class="card mt-4 border border-success">
        <div class="text-center mt-4">
            <p style="color: red; font-style: italic; font-size: 28px;">
                <%= msg %>
            </p>
        </div>
        <form class="p-5" action="" method="post">
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10 form-floating">
                    <input type="text" class="form-control border border-success rounded-2" id="floatingInput"
                       name="name" placeholder="Password" value="<%= objTL.name %>">
                    <label class="ms-3" for="floatingInput">Tên thể loại</label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-outline-success" style="width: 200px; height: 48px; font-size: 24px; font-weight: 500;">Save</button>
            </div>
        </form>   
    </div>

<%- include('../inc/bottom.ejs') %>