<%- include('../inc/top.ejs') %>

    <!-- Thêm thể loại -->
    <div class="card border border-success ">
        <div class="card-body mt-4">
            <form>
                <div class="form-floating mt-3 border border-success rounded-2">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Nhập tên thể loại">
                    <label for="floatingPassword">Tên thể loại</label>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-outline-success" style="width: 200px;">Save</button>
                </div>
            </form>
        </div>
    </div>

<%- include('../inc/bottom.ejs') %>