<%- include('../inc/top.ejs') %>
     
    <!-- Thanh Dieu khien -->
    <div class="row mt-4    ">
        <nav class="navbar col-6">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        style="width: 300px;">
                    <button class="btn btn-outline-success" type="submit" style="width: 150px;">Tìm kiếm</button>
                </form>
            </div>
        </nav>
        <div class="col-2">
            <a href="/sanpham/add">
                <button type="button" class="btn btn-success" style="width: 150px;">Thêm sản phẩm</button>
            </a>
        </div>
        <div class="col-2">
            <a href="#">
                <button type="button" class="btn btn-success" style="width: 150px;">Sắp xếp</button>
            </a>
        </div>
        <div class="col-2">
            <a href="#">
                <button type="button" class="btn btn-success" style="width: 150px;">Lọc </button>
            </a>
        </div>
    </div>
    <!-- bang danh sach -->
    <div class="mt-4">
        <table class="table table-striped" style="margin-top: 15px;">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Thể loại</th>
                    <th scope="col">Giá </th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Sửa</th>
                    <th scope="col">Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOaHr6WeIbOJnmTqu-58DZj_DZqyWL3SZRw&usqp=CAU"
                        alt="" srcset="" width="100px" height="50px"></td>
                    <td>BMW i8</td>
                    <td>SeDan</td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>Đây là oto thể thao</td>
                    <td><a href="/sanpham/edit"><img src="/images/edit.png" alt="" srcset="" width="50px" height="50px"></a></td>
                    <td><img src="/images/delete.png" alt="" srcset="" width="50px" height="50px"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOaHr6WeIbOJnmTqu-58DZj_DZqyWL3SZRw&usqp=CAU"
                        alt="" srcset="" width="100px" height="50px"></td>
                    <td>BMW i8</td>
                    <td>SeDan</td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>Đây là oto thể thao</td>
                    <td><a href="/sanpham/edit"><img src="/images/edit.png" alt="" srcset="" width="50px" height="50px"></a></td>
                    <td><img src="/images/delete.png" alt="" srcset="" width="50px" height="50px"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOaHr6WeIbOJnmTqu-58DZj_DZqyWL3SZRw&usqp=CAU"
                        alt="" srcset="" width="100px" height="50px"></td>
                    <td>BMW i8</td>
                    <td>SeDan</td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>Đây là oto thể thao</td>
                    <td><a href="/sanpham/edit"><img src="/images/edit.png" alt="" srcset="" width="50px" height="50px"></a></td>
                    <td><img src="/images/delete.png" alt="" srcset="" width="50px" height="50px"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOaHr6WeIbOJnmTqu-58DZj_DZqyWL3SZRw&usqp=CAU"
                        alt="" srcset="" width="100px" height="50px"></td>
                    <td>BMW i8</td>
                    <td>SeDan</td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>Đây là oto thể thao</td>
                    <td><a href="/sanpham/edit"><img src="/images/edit.png" alt="" srcset="" width="50px" height="50px"></a></td>
                    <td><img src="/images/delete.png" alt="" srcset="" width="50px" height="50px"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOaHr6WeIbOJnmTqu-58DZj_DZqyWL3SZRw&usqp=CAU"
                        alt="" srcset="" width="100px" height="50px"></td>
                    <td>BMW i8</td>
                    <td>SeDan</td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>Đây là oto thể thao</td>
                    <td><a href="/sanpham/edit"><img src="/images/edit.png" alt="" srcset="" width="50px" height="50px"></a></td>
                    <td><img src="/images/delete.png" alt="" srcset="" width="50px" height="50px"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOaHr6WeIbOJnmTqu-58DZj_DZqyWL3SZRw&usqp=CAU"
                        alt="" srcset="" width="100px" height="50px"></td>
                    <td>BMW i8</td>
                    <td>SeDan</td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>Đây là oto thể thao</td>
                    <td><a href="/sanpham/edit"><img src="/images/edit.png" alt="" srcset="" width="50px" height="50px"></a></td>
                    <td><img src="/images/delete.png" alt="" srcset="" width="50px" height="50px"></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJOaHr6WeIbOJnmTqu-58DZj_DZqyWL3SZRw&usqp=CAU"
                        alt="" srcset="" width="100px" height="50px"></td>
                    <td>BMW i8</td>
                    <td>SeDan</td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>Đây là oto thể thao</td>
                    <td><a href="/sanpham/edit"><img src="/images/edit.png" alt="" srcset="" width="50px" height="50px"></a></td>
                    <td><img src="/images/delete.png" alt="" srcset="" width="50px" height="50px"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- danh muc -->
    <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">3</button>
            <button type="button" class="btn btn-outline-secondary">4</button>
            <button type="button" class="btn btn-outline-secondary">5</button>
            <button type="button" class="btn btn-outline-secondary">6</button>
        </div>
    </div>

    <%- include('../inc/bottom.ejs') %>