<%- include('../inc/top.ejs') %>

    <!-- Thanh Dieu khien -->
    <div class="row mt-4    ">
        <nav class="navbar col-6">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        style="width: 300px;">
                    <button class="btn btn-outline-success" type="submit" style="width: 150px;">Tìm kiếm</button>
                </form>
            </div>
        </nav>
        <div class="col-2">
            <a href="/sanpham/add">
                <button type="button" class="btn btn-success" style="width: 150px;">Thêm sản phẩm</button>
            </a>
        </div>
        <div class="col-2">
            <a href="#">
                <button type="button" class="btn btn-success" style="width: 150px;">Sắp xếp</button>
            </a>
        </div>
        <div class="col-2">
            <a href="#">
                <button type="button" class="btn btn-success" style="width: 150px;">Lọc </button>
            </a>
        </div>
    </div>
    <!-- bang danh sach -->
    <div class="mt-4">
        <table class="table table-striped" style="margin-top: 15px;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Sản Phẩm</th>
                    <th scope="col">Loại</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Giá tiền</th>
                    <th scope="col">Mô tả</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>BMW i8</td>
                    <td>SenDan</td>
                    <td><img src="https://tse4.mm.bing.net/th?id=OIP.-veLBLSMQc4sWyL4coKHFwHaE8&pid=Api&P=0" alt=""
                            width="100px" height="50px"></td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>The BMW i8 is a new direction for both the German manufacturer and the industry, a plug-in
                        hybrid sports car with a carbon fiber reinforced plastic passenger compartment that
                        revolutionizes manufacturing. For the 2019 model year we see the introduction of the i8 roadster
                        which removes the rear seats and adds a convertible roof. The i8 is motivated by a 228-hp turbo
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>BMW i8</td>
                    <td>SenDan</td>
                    <td><img src="https://tse4.mm.bing.net/th?id=OIP.-veLBLSMQc4sWyL4coKHFwHaE8&pid=Api&P=0" alt=""
                            width="100px" height="50px"></td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>The BMW i8 is a new direction for both the German manufacturer and the industry, a plug-in
                        hybrid sports car with a carbon fiber reinforced plastic passenger compartment that
                        revolutionizes manufacturing. For the 2019 model year we see the introduction of the i8 roadster
                        which removes the rear seats and adds a convertible roof. The i8 is motivated by a 228-hp turbo
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>BMW i8</td>
                    <td>SenDan</td>
                    <td><img src="https://tse4.mm.bing.net/th?id=OIP.-veLBLSMQc4sWyL4coKHFwHaE8&pid=Api&P=0" alt=""
                            width="100px" height="50px"></td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>The BMW i8 is a new direction for both the German manufacturer and the industry, a plug-in
                        hybrid sports car with a carbon fiber reinforced plastic passenger compartment that
                        revolutionizes manufacturing. For the 2019 model year we see the introduction of the i8 roadster
                        which removes the rear seats and adds a convertible roof. The i8 is motivated by a 228-hp turbo
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>BMW i8</td>
                    <td>SenDan</td>
                    <td><img src="https://tse4.mm.bing.net/th?id=OIP.-veLBLSMQc4sWyL4coKHFwHaE8&pid=Api&P=0" alt=""
                            width="100px" height="50px"></td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>The BMW i8 is a new direction for both the German manufacturer and the industry, a plug-in
                        hybrid sports car with a carbon fiber reinforced plastic passenger compartment that
                        revolutionizes manufacturing. For the 2019 model year we see the introduction of the i8 roadster
                        which removes the rear seats and adds a convertible roof. The i8 is motivated by a 228-hp turbo
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>BMW i8</td>
                    <td>SenDan</td>
                    <td><img src="https://tse4.mm.bing.net/th?id=OIP.-veLBLSMQc4sWyL4coKHFwHaE8&pid=Api&P=0" alt=""
                            width="100px" height="50px"></td>
                    <td>7.000.000.000 VNĐ</td>
                    <td>The BMW i8 is a new direction for both the German manufacturer and the industry, a plug-in
                        hybrid sports car with a carbon fiber reinforced plastic passenger compartment that
                        revolutionizes manufacturing. For the 2019 model year we see the introduction of the i8 roadster
                        which removes the rear seats and adds a convertible roof. The i8 is motivated by a 228-hp turbo
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- danh muc -->
    <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">3</button>
            <button type="button" class="btn btn-outline-secondary">4</button>
            <button type="button" class="btn btn-outline-secondary">5</button>
            <button type="button" class="btn btn-outline-secondary">6</button>
        </div>
    </div>

    <%- include('../inc/bottom.ejs') %>